* {
    border: 2px solid red;
}


#content {

    display: flex;
    justify-content: center;
    align-items: center;


}

#content h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}




.mainImageDiv {
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.mainImageDiv .randomImage {
    
    
    
    max-width: 100%;
    object-fit: cover;
    width: 40rem;
    height: 40rem;
   
}

.tinyImagePreview{

    display:flex;
    flex-direction: row;

}

.tinyImagePreview img {
    max-width: 100%;
    object-fit:contain;
    width: 5rem;
    height: 5rem;

}



.tinyImagePreview {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.backArrow {
position:absolute;
width:3.5rem;
right:90%;

}

.forwardArrow {
position:absolute;
width:3.5rem;
left:90%


}
